#title {
	margin: 0px auto 10px auto;
	height: 36px;
	width: 165px;
	background-color: blue;
	color: white;
	font-family: Arial;
	border: black solid 3px;
	border-radius: 2%;
	display: block;
	padding: 7px 10px 7px 10px;
}

#title > h1 {
	display: inline-block;
	margin: 0 auto 0 auto;
}

#buttons {
	display: block;
	width: 450px;
	height: 50px;
	margin: auto auto auto auto;
	padding: 5px;
}

.options {
	display: inline-block;
	float: center;
	border: solid 3px black;
	border-radius: 2%;
	margin: 2px auto 2px auto;
	padding: 2px 2px 2px 2px;
	font-family: Arial;
	font-size: 18px;
	color: white;
	background-color: blue;
}

#grid {
	height: 550px;
	width: 850px;
	border: 5px solid black;
	margin: 0px auto 10px auto;
}

table {
	height: 550px;
	width: 850px;
	border-collapse: collapse;
}

td {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: black;
}

tr {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

